<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpSoap" />
        <add name="HttpPost" />
        <add name="HttpGet" />
        <add name="Documentation" />
      </protocols>
    </webServices>
    <httpRuntime executionTimeout="1200" maxRequestLength="102400" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" />
  </system.web>
  <appSettings>
    <add key="Sqlconect" value="Data Source=172.16.0.34;Initial Catalog=Module_SR_PROD;User ID=WebServiceUser;PassWord=" />
    <add key="SqlPwd" value="DF486ACCD1A2CD8DF31D4C616DFA88D1" />
    <add key="ServerAddress" value="srmesintegrationpda.jinkosolar.com" />
    <add key="ServerPort" value="2881" />
    <add key="Domain" value="jinkosolar.cn" />
    <add key="UserName" value="CamstarAdmin" />
    <add key="PassWord" value="Cam1star" />
  </appSettings>
  <connectionStrings>
    <!--<add name="MES.PDA" connectionString="Data Source=172.19.0.120:1521/MESTEST;User ID=mes;Password=mes;" providerName="Oracle.ManagedDataAccess.Client"/>-->
    <!--<add name="MES" connectionString="Data Source=172.16.7.152/WIPDB;User ID=camstaruser;Password=camstaruser;" providerName="Oracle.ManagedDataAccess.Client"/>-->
    <add name="MES" connectionString="Data Source=172.16.7.137/ods;User ID=camstaruser;Password=camstaruser;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
<!--ProjectGuid: A77468A9-FDA4-4FA7-B01A-5B9EBFC29D92-->